
.grid {
    width: 18px;
    height: 18px;
    opacity: 50%;
}

.grid:hover {
    opacity: 85%;
    cursor: pointer;
}

a>.sign-in {
    width: 65px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: rgb(62, 130, 255);
    border: 0;
    border-radius: 3px;

}

a>.sign-in:hover {
    background-color: rgba(252, 0, 0, 0.699);
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: rgb(63, 63, 63);
}

nav a:hover {
    text-decoration: underline;
    color: rgb(31, 31, 31);
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
}

.container>img {
    width: 20%;
}

.container {
    text-align: center;
    margin-top: 145px;
}

.container button{
    font-weight: light;
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 35px;
    border: 0.3px solid rgba(211, 211, 211, 0.74);
    background-color: white;
    height: 30px;

}

.container button:hover {
    border: 0.3px solid rgb(153, 152, 152);
    cursor: pointer;
}

#search {
    width: 40%;
    height: 28px;
    margin-top: 30px;
    padding: 10px;
    box-sizing: border-box;
    caret-color: red;
}

input:focus {
    border: 1px solid rgb(25, 106, 255);
    outline: none;
    box-shadow: 0 0 5px rgba(25, 106, 255, 0.5);
}



.lucky{
    text-decoration: none;
    color: black;
}

footer span:hover{
    color: rgba(255, 0, 0, 0.959);
    transition: 0.5s;
    
}


footer{
    display: flex;
    position: absolute;
    top:95vh;

}

